<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <title>Inicio</title>
</head>
<body>
    <div class="page-container">
        <header>
            <div class="header-logo">
                <a href="/"><img src="/img/logo-toy-funko.png" alt="Toy Funko Market" title="Logo Toy Funko Market"></a>
            </div>
            <div class="header-link-login">
                <a href="/login">Ingrese aquí</a>
            </div>
        </header>
        <nav>
            <div class="navbar animate__animated animate__zoomIn">
                <ul>
                    <li><a class="active" href="/">Inicio</a></li>
                    <li><a href="/products">Productos</a></li>
                    <li><a href="/perfil">Mi perfil</a></li>
                    <li><a href="/productCart">Carrito de compras</a></li>
                    <li><a href="/termsAndConditions">Términos y Condiciones</a></li>
                </ul>
            </div>
            <div class="search-products">
                <form>
                    <input type="search" placeholder="Buscar productos..">
                    <i class="fas fa-search"></i>
                </form>
            </div>
        </nav>
        <section class="banner-home">
            <img src="/img/banner-home.jpg" alt="Banner home" title="Banner home">
        </section>
        <section class="slider-home">
            <h2>Categorias</h2>
            <div class="container-productos-home">
                <div class="slider-home-img">
                    <img src="/img/slider-ejemplo.jpg" alt="Slider home" title="Slider home">
                </div>
                <div class="slider-home-img">
                    <img src="/img/slider-ejemplo.jpg" alt="Slider home" title="Slider home">
                </div>
                <div class="slider-home-img">
                    <img src="/img/slider-ejemplo.jpg" alt="Slider home" title="Slider home">
                </div>
                <div class="slider-home-img">
                    <img src="/img/slider-ejemplo.jpg" alt="Slider home" title="Slider home">
                </div>
                <div class="slider-home-img">
                    <img src="/img/slider-ejemplo.jpg" alt="Slider home" title="Slider home">
                </div>
            </div>
        </section>
        <section class="productos-home">
            <h2>Productos destacados</h2>
            <div class="container-productos-home">

                <article class="box-producto">
                    <div class="content-image">
                    <img src="/img/star-wars/yoda.jpg" alt="Master Yoda" title="Master Yoda">
                    </div>
                    <div class="descripcion-productos">
                        <span>Master Yoda</span>
                        <p>$50,00</p>
                    </div>
                    <button>Agregar al carrito</button>
                </article>

                <article class="box-producto">
                    <div class="content-image">
                      <img src="/img/star-wars/rey.jpg" alt="Rey" title="Rey">  
                    </div>
                    
                    <div class="descripcion-productos">
                        <span>Nombre del producto</span>
                        <p>$50,00</p>
                    </div>
                    <button>Agregar al carrito</button>
                </article>

                <article class="box-producto">
                    <div class="content-image">
                    <img src="/img/star-wars/kylo.jpg" alt="Kylo Ren" title="Kylo Ren">
                    </div>
                    <div class="descripcion-productos">
                        <span>Nombre del producto</span>
                        <p>$50,00</p>
                    </div>
                    <button>Agregar al carrito</button>
                </article>

                <article class="box-producto">
                    <div class="content-image">
                    <img src="/img/star-wars/stormtrooper.jpg" alt="Stormtrooper" title="Stormtrooper">
                    </div>
                    <div class="descripcion-productos">
                        <span>Nombre del producto</span>
                        <p>$50,00</p>
                    </div>
                    <button>Agregar al carrito</button>
                </article>
            </div>
        </section>
        
    </div>
    <footer>
        <div class="redes-sociales">
            <ul>
                <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                <li><a href=""><i class="fab fa-instagram"></i></a></li>
                <li><a href=""><i class="fab fa-twitter"></i></a></li>
            </ul>
        </div>
        <div class="contactanos">
            <p>Contactanos: 0800-000-000</p>
        </div>
    </footer>
</body>
</html>