<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<body>
    <div class="page-container page-container-products">
        <!-- HEADER -->
        <section class="productos-home">
            <h2>Productos disponibles</h2>
            <div class="container-productos-home">
                <a href="/products/productDetail">
                <article class="box-producto">
                    <div class="content-image">
                        <img src="/img/star-wars/vader.jpg" alt="Star Wars Vader" title="Star Wars Vader">
                    </div>
                    <div class="descripcion-productos">
                        <span>Darth Vader</span>
                        <p>$50,00</p>
                    </div>
                    <button>Agregar al carrito</button>
                </article>
                </a>

                <a href="/products/productDetail">
                <article class="box-producto">
                    <div class="content-image">
                    <img src="/img/star-wars/vader-unmasked.jpg" alt="Star Wars Vader Unmasked" title="Star Wars Vader Unmasked">
                    </div>
                    <div class="descripcion-productos">
                        <span>Nombre del producto</span>
                        <p>$50,00</p>
                    </div>
                    <button>Agregar al carrito</button>
                </article>
                </a>

                <a href="/products/productDetail">
                <article class="box-producto">
                    <div class="content-image">
                    <img src="/img/star-wars/yoda.jpg" alt="Master Yoda" title="Master Yoda">
                    </div>
                    <div class="descripcion-productos">
                        <span>Master Yoda</span>
                        <p>$50,00</p>
                    </div>
                    <button>Agregar al carrito</button>
                </article>
                </a>

                <a href="/products/productDetail">
                <article class="box-producto">
                    <div class="content-image">
                      <img src="/img/star-wars/rey.jpg" alt="Rey" title="Rey">  
                    </div>
                    
                    <div class="descripcion-productos">
                        <span>Nombre del producto</span>
                        <p>$50,00</p>
                    </div>
                    <button>Agregar al carrito</button>
                </article>
                </a>

                <article class="box-producto">
                    <div class="content-image">
                    <img src="/img/star-wars/kylo.jpg" alt="Kylo Ren" title="Kylo Ren">
                    </div>
                    <div class="descripcion-productos">
                        <span>Nombre del producto</span>
                        <p>$50,00</p>
                    </div>
                    <button>Agregar al carrito</button>
                </article>

                <article class="box-producto">
                    <div class="content-image">
                    <img src="/img/star-wars/stormtrooper.jpg" alt="Stormtrooper" title="Stormtrooper">
                    </div>
                    <div class="descripcion-productos">
                        <span>Nombre del producto</span>
                        <p>$50,00</p>
                    </div>
                    <button>Agregar al carrito</button>
                </article>

                <article class="box-producto">
                    <div class="content-image">
                    <img src="/img/star-wars/ben-solo.webp" alt="Ben Solo" title="Ben Solo">
                    </div>
                    <div class="descripcion-productos">
                        <span>Nombre del producto</span>
                        <p>$50,00</p>
                    </div>
                    <button>Agregar al carrito</button>
                </article>

                <article class="box-producto">
                    <div class="content-image">
                    <img src="/img/star-wars/vader-san-valentin.webp" alt="Stormtrooper" title="Stormtrooper">
                    </div>
                    <div class="descripcion-productos">
                        <span>Nombre del producto</span>
                        <p>$50,00</p>
                    </div>
                    <button>Agregar al carrito</button>
                </article>

                <article class="box-producto">
                    <div class="content-image">
                    <img src="/img/star-wars/chewbacca.webp" alt="chewbaca" title="chewbaca">
                    </div>
                    <div class="descripcion-productos">
                        <span>Nombre del producto</span>
                        <p>$50,00</p>
                    </div>
                    <button>Agregar al carrito</button>
                </article>

                <article class="box-producto">
                    <div class="content-image">
                    <img src="/img/star-wars/caretaker.jpeg" alt="caretaker" title="caretaker">
                    </div>
                    <div class="descripcion-productos">
                        <span>Nombre del producto</span>
                        <p>$50,00</p>
                    </div>
                    <button>Agregar al carrito</button>
                </article>

                <article class="box-producto">
                    <div class="content-image">
                    <img src="/img/star-wars/stormtrooper-colored.webp" alt="Stormtrooper Colored" title="Stormtrooper Colored">
                    </div>
                    <div class="descripcion-productos">
                        <span>Nombre del producto</span>
                        <p>$50,00</p>
                    </div>
                    <button>Agregar al carrito</button>
                </article>

                <article class="box-producto">
                    <div class="content-image">
                    <img src="/img/star-wars/rey-lightsabers.webp" alt="Rey two Lightsabers" title="Rey two Lightsabers">
                    </div>
                    <div class="descripcion-productos">
                        <span>Nombre del producto</span>
                        <p>$50,00</p>
                    </div>
                    <button>Agregar al carrito</button>
                </article>
            </div>
        </section> 
    </div>
    <!-- FOOTER -->
</body>
</html>