@font-face {
    font-family: 'Lato Black';
    src: url('../fonts/Lato/') format('woff2'),
        url('../fonts/Lato/Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato Bold';
    src: url('../fonts/Lato/Lato-Bold.woff2') format('woff2'),
        url('../fonts/Lato/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato';
    font-size: 16px;
    color: #4d4d4d;
    margin: 0;
}

a{
    text-decoration: none;
    color: #4d4d4d;
}

ul{
    padding-left: 0;
}

ul li{
    list-style: none;
}

h2{
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Lato';
    text-align: center;
    text-transform: capitalize;
    text-align: center;
    color: #666464;
    font-weight: normal;
}

/**** HOME ****/

.page-container{
    margin-right: auto;
    margin-left: auto;
    max-width: 1320px;
    width: 100%;
    height: 100%;
    padding: 0 15px;
}

.page-container header {
    display: flex;
    padding: 20px 0 2px 0;
    align-items: center;
    font-size: 16px;
    border-bottom: 1px solid #eee;
}

.page-container header .header-logo, .page-container header .header-link-login{
    display: flex;
    width: 70%;
    color: #939393;
}

.page-container header .header-logo img{
    max-width: 220px;
}

.page-container header .header-link-login{
    justify-content: flex-end;
    align-items: center;
}

.page-container header .header-link-login::after{
    padding: 3px 0px 0 6px;
    font-family: "Font Awesome 5 Free";
    content: "\f500";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    font-size: 20px;
}

.page-container nav{
    display: flex;
    align-items: center;
    padding: 2px 0 2px 0;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}
.page-container nav .navbar ul{
    padding-left: 0;
}
.page-container nav .navbar ul li{
    display: inline-block;
    margin: 0 6px 0 6px;
}

.page-container nav .navbar ul li a{
    min-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    border-radius: 20px;
    background-color: #12addd;
    font-family: 'Lato Bold';
    padding: 8px 16px;
    font-size: 14px;
    color: #FFF;
}

.page-container nav .navbar ul li a:hover{
    text-decoration: none;
    color: #FFF;
    background-color: #006494;
    transition: 0.5s;
}

.page-container nav .navbar ul li:first-child{
    margin-left: 0;
}

.page-container nav .navbar ul li:last-child{
    margin-right: 0;
}

.page-container nav .search-products form{
    position: relative;
}

.page-container nav .search-products input{
    position: relative;
    padding: 0 10px 0 10px;
    width: 100%;
    min-width: 290px;
    height: 36px;
    border-radius: 14px;
    border: 1px solid #dfdfdf;
}
.page-container nav .search-products input:focus, .page-container nav .search-products input:focus-visible {
    border: 1px solid #dfdfdf;
    outline: 1px solid #e5e5e5;
}

.page-container nav .search-products i{
    position: absolute;
    top: 11px;
    right: 10px;
    color: #939393;
}

.page-container nav .search-products{
    display: flex;
    justify-content: flex-end;
    width: 30%;
}

.page-container section.banner-home img{
    width: 100%;
}

.page-container section.slider-home{

}

.page-container section.slider-home .container-productos-home{
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-container section.slider-home i{
    font-size: 40px;
}

.page-container section .slider-home-img{
   margin: 0 10px 0 10px;
   text-align: center;
}


.page-container section.slider-home img{
    width: 230px;
}

.page-container section .container-productos-home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}



.page-container section.productos-home .box-producto{
    position: relative;
    margin: 0 35px 0px 35px;
    width: 280px;
    height: 360px;
    border: 1px solid;
    border-radius: 5px;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 12px;
    border-color: #dfdfdf;
    box-shadow: 5px 0px 12px 3px #dfdfdf;
}

.page-container section.productos-home .box-producto:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}


/* .page-container section.productos-home .box-producto:first-child{
    margin-left: 0;
}

.page-container section.productos-home .box-producto:last-child{
    margin-right: 0;
} */


.page-container section.productos-home .box-producto img{
    display: block;
    margin: auto;
    width: 90%;
    padding: 10px;
}

.page-container section.productos-home .box-producto button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #12addd;
    color: #FFF;
    border: none;
    height: 36px;
    font-family: 'Lato';
    width: 100%;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 5px 5px;
}

.page-container .container-productos-home .box-producto .content-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex: 0.85;
}

.page-container section.productos-home .box-producto button::after{
    padding: 0px 0px 0 6px;
    font-family: "Font Awesome 5 Free";
    content: "\f217";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    font-size: 14px;
    flex: 0.1;
}

.page-container section.productos-home .box-producto button:hover{
    background-color: #006494;
    color: #FFF;

}

.page-container section.productos-home .box-producto .descripcion-productos{
    background-color: #86b9fb1c;
    padding: 10px;
    flex: 0.22;
    width: 100%;

}



.page-container section.productos-home .box-producto p{
    margin-top: 0;
    margin-bottom: 0;
}

.page-container section.productos-home .box-producto p, .page-container section.productos-home .box-producto span{
    font-family: 'Lato Bold';
}

.page-container section.productos-home .box-producto span{
    font-style: italic;
}

footer {
    display: flex;
    align-items: center;
    margin-top: 50px;
    padding: 0 50px 0 50px;
    background-color: #511F73;
    color: #FFF;
    font-family: 'Lato Bold';
    box-shadow: 10px -4px 13px #979797;
}

footer .redes-sociales{
    width: 50%;
}

footer .redes-sociales ul li{
    display: inline-block;
}

footer .redes-sociales i{
    font-size: 30px;
    margin: 0 20px 0 20px;
    color: #fff;
}

footer .contactanos{
    width: 50%;
    text-align: right;
}

/* PALETA DE COLORES*/

/*

azul-claro : #06B6E7;
amarillo: #d7cf45
gris-claro #ececec
morado: #335BEB

*/