<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <div class="page-container">
        <%- include('./partials/header') %>
        <section class="banner-home">
            <img src="/img/banner-home.jpg" alt="Banner home" title="Banner home">
        </section>
        <section class="slider-home">
            <h2>Categorias</h2>
            <div class="container-productos-home">
                <div class="slider-home-img">
                    <img src="/img/slider-ejemplo.jpg" alt="Slider home" title="Slider home">
                </div>
                <div class="slider-home-img">
                    <img src="/img/slider-ejemplo.jpg" alt="Slider home" title="Slider home">
                </div>
                <div class="slider-home-img">
                    <img src="/img/slider-ejemplo.jpg" alt="Slider home" title="Slider home">
                </div>
                <div class="slider-home-img">
                    <img src="/img/slider-ejemplo.jpg" alt="Slider home" title="Slider home">
                </div>
                <div class="slider-home-img">
                    <img src="/img/slider-ejemplo.jpg" alt="Slider home" title="Slider home">
                </div>
            </div>
        </section>
        <section class="productos-home">
            <h2>Productos destacados</h2>
            <div class="container-productos-home">
                <article>
                    <a class="box-producto" href="/products/productDetail">
                        <div class="content-image">
                            <img src="/img/star-wars/yoda.jpg" alt="Master Yoda" title="Master Yoda">
                        </div>
                        <div class="descripcion-productos">
                            <span>Master Yoda</span>
                            <p>$50,00</p>
                        </div>
                        <button>Agregar al carrito</button>
                    </a>
                </article>


                <article>
                    <a class="box-producto" href="/products/productDetail">
                        <div class="content-image">
                            <img src="/img/star-wars/rey.jpg" alt="Rey" title="Rey">
                        </div>

                        <div class="descripcion-productos">
                            <span>Nombre del producto</span>
                            <p>$50,00</p>
                        </div>
                        <button>Agregar al carrito</button>
                    </a>
                </article>



                <article>
                    <a class="box-producto" href="/products/productDetail">
                        <div class="content-image">
                            <img src="/img/star-wars/kylo.jpg" alt="Kylo Ren" title="Kylo Ren">
                        </div>
                        <div class="descripcion-productos">
                            <span>Nombre del producto</span>
                            <p>$50,00</p>
                        </div>
                        <button>Agregar al carrito</button>
                    </a>
                </article>



                <article>
                    <a class="box-producto" href="/products/productDetail">
                        <div class="content-image">
                            <img src="/img/star-wars/stormtrooper.jpg" alt="Stormtrooper" title="Stormtrooper">
                        </div>
                        <div class="descripcion-productos">
                            <span>Nombre del producto</span>
                            <p>$50,00</p>
                        </div>
                        <button>Agregar al carrito</button>
                    </a>
                </article>


            </div>
        </section>

    </div>
    <%- include('./partials/footer') %>
</body>

</html>