<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <div class="page-container">
        <%- include('./partials/header') %>
        <section class="form-login">
            <h2>¡Bienvenido!</h2>
            <form>
                <input type="email" placeholder="Ingrese su e-mail">
                <input type="password" placeholder="Ingrese su password">
                <p class="text-forgot-pass"><a href="">¿Olvidaste la contraseña?</a></p>
                <button type="submit">Ingresar</button>
                <div class="remember-pass">
                    <input type="checkbox" id="" value="remember-password">
                    <label>Recordar contraseña</label>
                </div>  
                <div class="user-new">
                    <hr>
                    <label>¿Aùn no tienes cuenta? <a href="/user/register">Registrate aqui</a></label>  
                </div>          
            </form>
        </section>      
    </div>
    <%- include('./partials/footer') %>
</body>
</html>