<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <div class="page-container product-container-perfil">
        <%- include('./partials/header') %>
        <section class="products-content-perfil">
            <div class="product-details">
                <h3>Su compra ha sido procesada</h3>
                <form>
                    <div class="form-perfil-item">
                      <span class="form-data">Nombre y apellido del destinatario: </span>Nombre Apellido
                    </div>
                    <div class="form-perfil-item">
                      <span class="form-data">Correo electrónico: </span>NombreApellido@gmail.com
                    </div>
                    <div class="form-perfil-item">
                      <span class="form-data">Dirección de entrega: </span> Bogotá calle 92 #13A-1
                    </div>
                    <table>
                      <thead>
                        <tr>
                          <th>Producto</th>
                          <th>Precio</th>
                          <th>Cantidad</th>
                          <th>Subtotal</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td> <img width="50px" src="/img/producto-home.jpg"></td>
                          <td>$10.0000</td>
                          <td>5</td>
                          <td>$50.000</td>
                        </tr>
                        <tr>
                          <td> <img width="50px" src="/img/producto-home.jpg"></td>
                          <td>$10.0000</td>
                          <td>5</td>
                          <td>$50.000</td>
                        </tr>
                        <tr>
                          <td> <img width="50px" src="/img/producto-home.jpg"></td>
                          <td>$10.0000</td>
                          <td>5</td>
                          <td>$50.000</td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="form-total-items">
                        <p>Total de la compra: <span>$1,000.00</span></p>
                    </div>
                    <div class="buttons-form">
                        <button type="submit" class="btn btn-default">Guardar Compra</button>                        
                    </div>

                  </form>

            </div>
        </section>  
    </div>

    <%- include('./partials/footer') %>
</body>
</html>