<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <div class="page-container">
        <%- include('./partials/header') %>
        <section class="container-cart-product">
            <div class="details-product">
                <div class="img-producto box-description">
                    <label></label>
                    <div class="button-img">
                        <button type="button">x</button>
                        <img src="/img/producto-home.jpg">
                    </div>
                </div>
                <div class="description-product box-description">
                    <label>Producto</label>
                    <p>Nombre del producto</p>
                </div>
                <div class="price-product box-description">
                    <label>Precio</label>
                    <p>$1,000.00</p>
                 </div>
                <div class="quanty-product box-description">
                    <label>Cantidad</label>
                    <p>5</p>
                </div>
                <div class="subtotal-producto box-description">
                    <label>Subtotal</label>
                    <p>$1,000.00</p>
                </div>
            </div>
            <!-- segundo lote -->
            <div class="details-product">
                <div class="img-producto box-description">
                    <label></label>
                    <div class="button-img">
                        <button type="button">x</button>
                        <img src="/img/producto-home.jpg">
                    </div>
                </div>
                <div class="description-product box-description">
                    <label>Producto</label>
                    <p>Nombre del producto</p>
                </div>
                <div class="price-product box-description">
                    <label>Precio</label>
                    <p>$1,000.00</p>
                 </div>
                <div class="quanty-product box-description">
                    <label>Cantidad</label>
                    <p>5</p>
                </div>
                <div class="subtotal-producto box-description">
                    <label>Subtotal</label>
                    <p>$1,000.00</p>
                </div>
            </div>
            <div class="footer-cart">
                <div class="address-total">
                   <p>Total de la compra: <span>$1,000.00</span></p>
                   <p><strong>Direccion de entrega:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="button-buy">
                    <button type="button">Finalizar compra</button>
                </div>
            </div>
        </section>      
    </div>
    <%- include('./partials/footer') %>
</body>
</html>