<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <div class="page-container">
        <%- include('./partials/header') %>
        <main>
          <h2 class="main-title">Términos y Condiciones</h2>
            <section class="section-terms">
                <h3 class="section-terms-title">Términos generales</h3>
                <p class="section-terms-content"> - Bienvenido al sitio de comercio electrónico www.toyfunko.com, cuya actividad principal es permitir la exhibición y comercialización de productos y servicios para su adquisición en línea por los consumidores, en adelante.
                    toyfunko.com es controlado y operado por toyfunko S.A.S en adelante (“toyfunko”). Cualquier reclamo en relación con el uso del Sitio y el material en él contenido está regulado por las leyes.
                    Los Usuarios que ingresen al sitio toyfunko.com desde países diferentes podrán realizar compras sujetándose a la normatividad, sin embargo, los productos solo serán entregados a la dirección suministrada por el usuario.
                    Al ingresar al Sitio el Usuario admite haber leído y entendido los Términos y Condiciones de Uso, en adelante (“Términos y Condiciones”), y por consiguiente asumen la obligación de respetar su contenido, política de privacidad, notificaciones legales y todas las cláusulas de exención de responsabilidad que figuran en el mismo.
                    Los presentes Términos y Condiciones están sujetos a cambios sin previo aviso, en cualquier momento, y a partir de la fecha de modificación de estos Términos y Condiciones, todas las operaciones que se celebren entre toyfunko.com y el Usuario se regirán por el documento modificado.
                </p>
            </section>
            <section class="section-terms">
                <h3 class="section-terms-title">Disponibilidad de Productos</h3>
                <p class="section-terms-content">
                    - toyfunko.com se encarga de la actualización de la página y la revisión constante de los productos y/o servicios que se exhiben en el Sitio. No obstante, toyfunko.com puede modificar y descontinuar los productos y/o servicios en cualquier momento sin contraer ninguna responsabilidad frente a los Usuarios del Sitio.
                </p>
            </section>
            <section class="section-terms">
                <h3 class="section-terms-title">Precios</h3>
                <p class="section-terms-content">
                     - Todos los precios de los productos son en dólares. Pero no incluyen los gastos correspondientes al envío de los productos.
                </p>
            </section>
            <section class="section-terms">
                <h3 class="section-terms-title">Garantías</h3>
                <p class="section-terms-content">
                     - Todos los productos adquiridos a través de www.toyfunko.co u otros medios digitales autorizados tendrán garantía de 15 días naturales, contados a partir del momento de recibido el producto; la garantía cubre daños por defectos de fábrica.
                </p>
            </section>
            <section class="section-terms">
                <h3 class="section-terms-title">Entrega del producto</h3>
                <p class="section-terms-content">
                    - TOYFUNKO se compromete a entregar el producto en perfecto estado en la dirección que el Cliente señale en el formulario de datos de envío.
                    Con el fin de optimizar la entrega, TOYFUNKO sugiere al Cliente que indique una dirección en la cual el pedido pueda ser entregado dentro del horario laboral habitual.
                    TOYFUNKO no será responsable por los errores causados en la entrega cuando la dirección de entrega introducida por el Cliente en el formulario de datos de envío no se ajuste a la realidad, o hayan sido omitidos algunos datos.
                </p>
            </section>
            <section class="section-terms">
                <h3 class="section-terms-title">Devolución de dinero</h3>
                <p class="section-terms-content"> - La devolución del dinero aplica en los siguientes casos:</p>
                <ul class="sections-terms-list">
                    <li>
                        Cuando el cliente solicite el retracto de la compra.
                    </li>
                    <li>
                        Cuando se haya adquirido el producto a través de la plataforma online y éste se haya agotado.
                    </li>
                </ul>
            </section>  
        </main>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>

