.form-login{
    padding: 40px;
    margin: auto;
    margin-top: 40px;
    width: 100%;
    max-width: 500px;
    border: 1px solid #eee;
    border-radius: 5px;
    min-height: 640px;
}

.form-login label, p{
    font-weight: bold;
}

.form-login input{
    display: block;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    height: 36px;
    background: #ececec;
    border: none;
    box-sizing: border-box;
}
.form-login button{
    display: block;
    margin: auto;
    margin-top: 65px;
    width: 200px;
    height: 36px;
    background-color: #335BEB;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.form-login .text-forgot-pass{
    text-align: center;
}

.form-login .remember-pass{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.form-login .remember-pass input{
    display: inline-flex;
    margin: initial;
    margin-right: 10px;
    margin-bottom: 0;
    padding: 10px;
    width: 15px;
    max-width: 15px;
    height: 15px;
}

.form-login .user-new{
text-align: center;
}

.form-login .user-new hr{
    width: 80%;
    margin-top: 60px;
    border-top: 1px solid #ececec;
}

.form-login .user-new a{
    text-decoration: underline;
    color: #335BEB;
}
