<header>
    <div class="header-logo">
        <a href="/"><img src="/img/logo-toy-funko.jpg" alt="Toy Funko Market" title="Logo Toy Funko Market"></a>
    </div>
    <div class="header-link-login">
        <a href="/user/login">Ingrese aquí</a>
    </div>
</header>
<nav>
    <div class="navbar">
        <ul>
            <li><a class="active" href="/">Inicio</a></li>
            <li><a href="/products">Productos</a></li>
            <li><a href="/user">Mi perfil</a></li>
            <li><a href="/products/productsCart">Carrito de compras</a></li>
            <li><a href="/termsAndConditions">Términos y Condiciones</a></li>
        </ul>
    </div>
    <div class="search-products">
        <form>
            <input type="search" placeholder="Buscar productos..">
            <i class="fas fa-search"></i>
        </form>
    </div>
</nav>